.btn {
  background-color: #6927D8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #6927D8;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 11px 13px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .btn {
    width: 100%;
    margin-bottom: 15%;
  }
}
.aboutbox {
  width: 320px;
  padding: 10px;
  border: 2px solid #505050;
  margin: 0;
  background-color: #505050;
}
.questions {
  width: 100%;
  padding: 10px;
  border: 2px solid #505050;
  margin: 0;
  background-color: #505050;
  border-radius: 25px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: white;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  background: #363237;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width: 500px) {
  nav {
    width: 50%;
  }
}
nav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}
@media (max-width: 500px) {
  nav a {
    font-size: 10px;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  margin-top: 2%;
  color: #363237;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    align-items: center;
    margin-left: 5%;
  }
}
footer p {
  font-size: 10px;
  color: white;
}
@media (max-width: 500px) {
  footer p {
    width: 100%;
  }
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}
@media (max-width: 500px) {
  footer a {
    width: 100%;
  }
}
.home {
  padding: 2%;
  width: 100%;
  background: #363237;
}
@media (max-width: 500px) {
  .home {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
.home .header-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .header-container {
    width: 100%;
  }
}
.home .header-container .logo a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
@media (max-width: 500px) {
  .home .header-container .logo a {
    font-size: 15px;
  }
}
.home .center {
  position: relative;
  text-align: center;
}
.home .center .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -60%);
}
@media (max-width: 500px) {
  .home .center .centered {
    width: 100%;
  }
}
.home .center .centered h2 {
  padding-bottom: 5%;
  text-align: left;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .home .center .centered h2 {
    width: 100%;
    margin-left: 40%;
  }
}
.home .center .centered .btn {
  margin-right: 60%;
}
.home .center .centered .btn a {
  text-decoration: none;
  color: white;
}
@media (max-width: 500px) {
  .home .center .centered .btn {
    width: 75%;
    margin-left: 40%;
  }
}
.home .center img {
  display: flex;
  justify-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .home .center img {
    width: 100%;
    padding-bottom: 10%;
  }
}
.home .abouttitle {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: 25px;
}
.home .mission {
  margin-top: 2%;
  text-align: center;
}
.home .mission p {
  font-size: 1.5rem;
}
.home .about-us {
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .about-us {
    width: 100%;
    flex-direction: column;
    padding-top: 10%;
    height: 500px;
  }
}
.home .about-us .aboutbox {
  width: 30%;
}
@media (max-width: 500px) {
  .home .about-us .aboutbox {
    width: 100%;
  }
}
.home .about-us .aboutbox h3 {
  margin-bottom: 8%;
  font-size: 20px;
  border-bottom: 2px solid #C3A9EF;
  width: 15%;
}
.home .about-us .aboutbox p {
  font-size: 15px;
}
@media (max-width: 500px) {
  .home .centerteam {
    width: 100%;
  }
}
.home .centerteam img {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 300px;
}
.home .teamtitle {
  display: flex;
  justify-content: center;
  padding: 4% 0;
}
.home .teaminfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 0;
}
@media (max-width: 500px) {
  .home .teaminfo {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
.home .teaminfo .teambox {
  width: 25%;
  margin: 2% 1%;
}
@media (max-width: 500px) {
  .home .teaminfo .teambox {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
.home .teaminfo .teambox h3 {
  margin: 6% 0;
  text-align: center;
}
.home .teaminfo .teambox p {
  text-align: center;
}
.home .teaminfo .teambox img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 30%;
}
@media (max-width: 500px) {
  .home .teaminfo .teambox img {
    width: 100%;
    padding: 10% 0;
    margin: 0;
    height: 150px;
    width: 90px;
    margin-left: 35%;
  }
}
.home .centerabout img {
  width: 100%;
  height: 250px;
}
.home .centerabout .missiontitle {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  font-size: 25px;
}
.missiontitle {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}
.questions h3 {
  font-size: 1.8rem;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.questions p {
  margin-left: 3.5%;
  margin-top: 2%;
  color: #C3A9EF;
}
