.missiontitle {
    display: flex;
    justify-content: center;
    margin: 2% 0;

    @media @phone {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

.questions {
    h3 {
        font-size: 1.8rem;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;

        
        
    }

    p {
        margin-left:3.5%;
        margin-top:2%;
        color: @footer-font;

    }
}

.questionbox {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border-radius: 25px;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .questionbox:hover {
    background-color: #ccc;
}

.questions:hover .questioncontent {
    display: block;
}

.questioncontent {
    padding: 3% 0;
    display: none;
    overflow: hidden;
    border-radius: 25px;
}