// Home Content

.home {

  padding: 2%;
  width: 100%;
  background: @background-page;

  @media @phone {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

  .header-container {
    display: flex;
    justify-content: space-between;

    @media @phone {
      width: 100%;
  }

    .logo a {
      text-decoration: none;
      font-size:20px;
      color: @main-font-color;

      @media @phone {
        font-size: 15px;
    }

      
    }
  }

  .center {

    position: relative;
    text-align: center;

    .centered {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        padding-bottom: 5%;

        @media @phone {
          width:100%;
      }
      }

      .btn {
        @media @phone {
          width: 65%;
      }
      }

    }

    img {

      display: flex;
      justify-items: center;
      width: 100%;

    }

  }

  .abouttitle {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-size: 25px;
  }

  .about-us {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;

    .aboutbox{
      width: 30%;
      
      h3{
        margin-bottom: 10%;
        font-size: 20px;
      }
  
      p {
        font-size: 15px;
      }
    }
    
  }

  //team page

  .centerteam {

    img {
      display: flex;
      justify-items: center;
      width: 100%;
      height: 300px;
    }
  }

  .teamtitle {
    display: flex;
    justify-content: center;
    padding: 4% 0;
  }

  .teaminfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 0;

    .teambox {
      width: 25%;
      margin: 2% 1%;

      h3 {
        margin: 6% 0;
        display: flex;
        justify-content: center;
      }

      img {

        border-radius: 50%;
      }
    }
  }

}
  