// Navigation code here
nav {
    background: @background-page;
    display: flex;
    margin: 2% 2%;


.nav-wrapper {

        h1 {
            font-size: ;
        }

        .nav-links {
            display: flex;
            justify-content: flex-end;
            align-content: space-between;
            width: 75%;

            a {
                color: @nav-font;
                text-decoration: none;
            }
        }

    }
}
